* {
    box-sizing: border box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}
  
li {
    list-style-type: none;
}

.wrapper {
    min-width: 1100px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 1061px;
}

.logo {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 54px;
    color: #f89513;
    font-family: "gora_free";
}