.aside {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.aside__title {
    padding-top: 12%;
    padding-bottom: 11%;
    font-size: 14px;
    line-height: 1.5;
}

.aside__news_1, .aside__news_2 {
    margin-bottom: 2%;
}