.header {
    display: flex;
    justify-content: center;
    background-color: #131415;
}

.header__container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #131415;
    padding: 1% 0%;
}

.header__contacts {
    display: flex;
    flex-direction: column;
}

.header__contacts_phone, .header__contacts_shed {
    font-family: "open_sansbold";
    font-weight: 700;
}
.header__contacts_phone {
    font-size: 21px;
    color: #ffffff;
}

.header__contacts_shed {
    font-size: 14px;
    color: #f89513;
    align-self: flex-end;
    transition: .5s;
}

.header__contacts_shed:hover {
    color:rgba(255, 255, 255, .7);
}