.news {
    display: flex;
    flex-flow: column wrap;
    font-family: "open_sansbold";
}

.news__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.news__headline {
    font-size: 49px;
    letter-spacing: 1.5px;
    color: #221f1f;
    font-weight: 700;
    margin: 5.4% 0% 6.5%;
}

.news__content {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: 1.8%;
}

.news__list {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.news__item {
    margin-bottom: 3%;
}

.news__item, .news__item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.news__item-container {
    align-items: center;
    flex-direction: row;
    margin-bottom: 2.2%;
}

.news__item:after {
    content: "";
    display: block;
    width: -webkit-fill-available;
    height: 2px;
    background-color: #f5f5f5;
}

.news__item:last-child:after {
    display: none;
}

.news__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2%;
}

.news__photo_1,
.news__photo_2,
.news__photo_3 {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.news__unit {
    width: 76%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.news__data, .news__text {
    font-family: 'open_sanslight';
}

.news__data {
    padding-bottom: 1%;
    font-size: 14px;
}

.news__title {
    padding-bottom: 1.5%;
    font-size: 18px;
    letter-spacing: -1.2px;
}

.news__text {
    font-size: 18px;
    line-height: 1.7;
}